body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parentbox{
    background-color: white;
    border: lightgrey solid;
    width: 600px;
    min-height: 300px;
    margin: 0 auto;
}
.bluebox{
    width: 606px;
    height: 81px;
    background-color: plum;
    position: relative;
    right: 3px;
    bottom: 3px;
}

.relative1{
    position: relative;
    bottom: 40px;
    left: 30px;
}
.name{
    position: relative;
    bottom: 65px;
    left: 20px;
}
#location{
    position: relative;
    display: flex;
    bottom:60px;
    gap: 10px;
    left: 25px;
}
.img1{
    width: auto;
    height: 20px;
}
.chi{
    margin: 0px;
}
#negative{
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
} 
#aboutme{
    font-size: 12px;
    position: relative;
    left: 20px;
    bottom: 45px;
}
.aboutme1{
    margin-top:0px;
    margin-bottom: 5px;
}
#gear{
    display: flex;
    position: relative;
    gap: 10px;
    left: 20px;
    bottom: 30px;
}
.gear1{
    width: auto;
    height: 20px;
}